<h1>Editing Invoice</h1>

<%= render :partial => "form", 
           :locals => { :purchase => @purchase,
                        :invoice => @invoice, 
                        :button_label => "Update"} %>
