<h1>Editing Line Item</h1>

<%= render :partial => "form", 
           :locals => { :purchase => @purchase,
                        :line_item => @line_item, 
                        :button_label => "Update" }%>
